# adapt this configuration to your setup

# repo which contains your experimental setup launch files
experiment_launch_package_name="gazebo-mental-simulation-meta-example"
# launch file which  boots up the experimental environment including Gazebo
experiment_launch_file_name="pr2_run_experiment.launch"
# launch file which generates random scenes for the experiments
random_scenes_launch_file_name="generate_random_scene.launch"

# path inside container where results are to be stored
results_path="/home/${user}/results/"

# path inside container where Gazebo world files are located
worldfile_path="/home/${user}/world_files/"

# number of repetitions for a single world file in order to compensate for motion planning noise and irrelevant pairwise preferences
num_repetitions=100

# determine if Gazebo GUI shall be used (not useful e.g. when running this on a server)
# CAUTION: only one container will be used if the GUI is enabled
gui="true"

# timeout after which the mental simulation will be killed (in case of errors preventing the container from exiting)
timeout="20m"

# verbose Gazebo output can be switched off if clogging the console
verbose="true"

cd .. && source config/containers.cfg && cd -
